@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap{
    gap: 8px;
    padding: 4rem;
}

input{
    background-color: white;
    padding: 8px !important;
}

th{
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 14px;
}

td{
    border-bottom: 1px solid black;
}

.addItems{
    border: 1px solid black;
    border-radius: 8px;
}

.itemsTable{
    padding: 20px;
    border-style: solid #ffffff;
}

.invoice{
    color: #000;
}

.button-group{
    display: flex;
    gap: 8px;
}

table, th, td {
    border-color: #d1d5db !important; /* gray-300 */
}

.htable{
    font-size: 12px;
    font-weight: normal;
}


